@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary: #9599EC;
  --color-tertiary: #E67BB9;

  --max-width: 1564px;
}

@theme inline {
  --font-sans: var(--font-jetbrains-mono);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  *,
  *::before,
  *::after {
    scrollbar-width: thin;
  }

  html {
    @apply scroll-smooth;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply text-balance font-medium;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-neutral-50 text-neutral-950 border border-neutral-50;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-transparent text-neutral-50 border border-neutral-50;
  }

  .btn-text {
    @apply text-neutral-50 border-transparent;
  }
}

@utility bg-glass {
  @apply bg-[#141414]/20 backdrop-blur-[10px];
}
