---
import CopyLinkIcon from "@components/icons/CopyLink.astro";
import Spinner from "@components/icons/Spinner.astro";
import Button from "@components/ui/Button.astro";

const initialPreviewContent = `{
  "id": "abc123",
  "mocks": [
    {
      "id": "abc1234",
      "name": "Jordy",
      "email": "jordycastro1756@gmail.com",
      "linkedIn": "https://www.linkedin.com/in/yordicastro/"
    },
    {
      "id": "abc1235",
      "name": "Ernesto",
      "email": "ev402648@gmail.com",
      "linkedIn": "https://www.linkedin.com/in/ernesto224/"
    },
    {
      "id": "abc1236",
      "name": "Kenneth",
      "email": "kennethtorresbrizuela@gmail.com",
      "linkedIn": "https://www.linkedin.com/in/kennethtorres/"
    }
  ],
  "createdAt": "2026-03-31T08:58:48.372Z",
  "updatedAt": "2026-03-31T08:58:48.372Z"
}`;
---

<section class="flex-1 w-full flex flex-col min-h-100 rounded-md overflow-hidden border border-neutral-800">
  <header class="flex items-center justify-between gap-8 p-4 border-b border-neutral-800 bg-neutral-700">
    <h2>Live Preview</h2>
    <button class="flex items-center gap-2">
      <span class="w-4 h-4 bg-red-500 rounded-full"></span>
      <span class="w-4 h-4 bg-yellow-500 rounded-full"></span>
      <span class="w-4 h-4 bg-green-500 rounded-full"></span>
    </button>
  </header>
  <div class="flex-1 relative bg-neutral-900 p-4 overflow-hidden">
    <Spinner
      id="live-preview-spinner"
      class="text-primary animate-spin w-16 h-16 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden"
    />
    <pre
      id="live-preview-content"
      class="absolute inset-0 p-4 overflow-auto whitespace-pre-wrap break-all text-neutral-50 text-sm">{initialPreviewContent}</pre>
    <p id="live-preview-error" class="text-red-400 hidden">
      Error al generar los mocks. Por favor, intenta nuevamente.
    </p>
  </div>
  <footer id="mock-footer" class="p-4 border-t border-neutral-800 bg-neutral-700 hidden">
    <p id="mock-link" class="break-all text-sm">https://api.example.com/abc123/mocks/</p>
    <!-- <Button id="copy-link-btn" class="w-full hidden" disabled>
      Copiar Enlace
      <CopyLinkIcon id="copy-link-btn" class="w-6 h-6" />
    </Button> -->
  </footer>
</section>
