---
import JsonEditor from "./JsonEditor.astro";
import LivePreview from "./LivePreview.astro";
---

<div class="flex flex-col gap-4 h-full p-4 sm:flex-row">
  <JsonEditor />
  <LivePreview />
</div>

<script src="../../../scripts/lib/mockCreator.ts"></script>
