---
import JsonEditor from "./JsonEditor.astro";
import LivePreview from "./LivePreview.astro";
---

<div id="split-container" class="flex flex-col h-full p-4 sm:flex-row overflow-hidden">
  <div id="left-panel" class="flex w-full sm:w-1/2 min-w-62.5 sm:pr-2 pb-4 sm:pb-0">
    <JsonEditor />
  </div>

  <div
    id="resizer"
    class="hidden sm:block w-1 cursor-col-resize bg-transparent hover:bg-indigo-500 active:bg-indigo-600 transition-colors z-50 -mx-0.5"
  >
  </div>

  <div id="right-panel" class="flex flex-1 min-w-62.5 sm:pl-2">
    <LivePreview />
  </div>
</div>

<script src="../../../scripts/lib/resizer.ts"></script>
<script src="../../../scripts/lib/mockCreator.ts"></script>
