---
import "@styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <Font cssVariable="--font-jetbrains-mono" preload />

    <meta name="description" content={description} />
  </head>
  <body class="bg-neutral-950 text-neutral-50 text-pretty">
    <slot />
  </body>
</html>
